* {
    margin: 0;
    padding: 0;
}

summary {
    display: block;
}
  
    summary::-webkit-details-marker {
    display: none;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

$widthSite: 1140px;
$colorText: #000;
$colorSelectSite: #F16D7F;
$gapGrid: 16px;
$widthBurgerMenu: 232px;

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.header__right {
    background-color: #000;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#burger {
    position: absolute;
    left: -999999px;
    visibility: hidden;
    &:checked ~ .nav {
        right: -$widthBurgerMenu;
    }
}

.box-content {
    overflow: hidden; 
    // чтобы не появлялась прокрутка горизознтальная
}



.nav {
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding: 32px;
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    right: 0;
    transition: right .3s;
}

.filter-sort {
    height: 132px;
    position: relative;
    display: flex;
    gap: $gapGrid;
    padding-top: 39px;
    box-sizing: border-box;
}

.filter {
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    &__content {
        background-color: #FFFFFF;
        padding-top: 0;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
    }


    &[open] {
        background: #FFFFFF;
        box-shadow: 6px 4px 35 px rgba(0, 0, 0, 0.21);
    }
    
    &[open] .filter__heading{
        color: $colorSelectSite;
    }

    &[open] path {
        fill: $colorSelectSite;
    }

    &__summary {
        display: flex;
        align-items: center;    
        gap: 11px;
        padding-left: 16px;
    }
    &__heading {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
    }

    &__item {
        margin-top: 16px;
    }

    &__heading {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
        // padding-top: 24px; верхняя запись равнозначна 4-м padding
        // padding-bottom: 24px;
        // padding-left: 16px;
        // padding-right: 16px;
    }

    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        &:hover {
            color: $colorSelectSite;
        }
    }

    &__head {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectSite;
    }

    &__item[open] .filter__head {
        color: $colorSelectSite;
    }


}

.sort {
    padding-top: 12px;
    display: flex;
    gap: 18px;

    &__details {
        position: relative;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
    }

    &__check {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        list-style: 16px;
        color: #6F6E6E;
    }

    &__heading {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
    }
    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }
}


