$widthSite: 1600px;
$keyselColor: #F16D7F;
$keyregColor:#636363;
$darkBack: #222;
$remSize: 10px;
$darkColor:#222;

@mixin centerflex($sidepadding: 14.4%, $height: 75px) {
    padding: 0 $sidepadding;
    height: $height;
    display: flex;
  }