* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "latoregular";
  font-size: 10px;
}

html {
  color: #636363;
}

a:visited {
  color: inherit;
}

.container {
  margin: 0 auto;
}

.center {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.header {
  background-color: #222;
  padding: 0 14.4%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left__group, .header__right__group {
  display: flex;
  gap: 4rem;
  align-items: first baseline;
}
.header__menu {
  position: relative;
  display: inline-block;
}
.header__menu .dropdown_menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  min-width: 100px;
  padding: 10px;
  z-index: 1;
  width: 23.2rem;
  height: 614px;
}
.header__menu .dropdown_menu .menu__items {
  display: flex;
  flex-direction: column;
}
.header__menu .dropdown_menu .menu__items .menu__header {
  padding-left: 32px;
  padding-top: 32px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__menu .dropdown_menu .menu__items .menu__item {
  padding-left: 32px;
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 24px;
}
.header__menu .dropdown_menu .menu__items .submenu__item {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 52px;
  padding-top: 12px;
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__menu:hover .dropdown_menu {
  display: block;
}

.header__content {
  padding: 0 14.4%;
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f3f4;
}
.header__content__text {
  font-size: 24px;
  font-weight: 400;
  color: #F16D7F;
}
.header__content__navlink {
  font-size: 14px;
  font-weight: 300;
}
.header__content__navlink:hover {
  color: #F16D7F;
  font-weight: 700;
}

.main {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
}
.main__photo {
  width: 100%;
}
.main__arrows {
  width: 4.7rem;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__arrows:hover path {
  fill: pink;
}

.subcontainer {
  display: flex;
  justify-content: center;
  width: 1600px;
}

.main__container {
  width: 100%;
  margin-top: -65px;
  height: 664px;
}
.main__container .main__elements {
  max-width: 1141px;
  border: #000 1px solid;
  background-color: #fff;
  padding: 0 14.4%;
  position: absolute;
  height: 601px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__container .main__elements .main__h4 {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  padding-bottom: 12px;
}
.main__container .main__elements .main__h3 {
  padding-top: 12px;
  color: #4d4d4d;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}
.main__container .main__elements .main__text {
  padding-top: 49px;
  color: #5e5e5e;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  max-width: 55rem;
}
.main__container .main__elements .main__price {
  padding-top: 33px;
  color: #ef5b70;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  padding-bottom: 65px;
}
.main__container .main__elements .choose__line {
  padding-top: 65px;
  display: flex;
}
.main__container .main__elements .choose__line .choose__text {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.main__container .main__elements .choose__line .chooser {
  padding-left: 1rem;
  padding-right: 2rem;
}
.main__container .main__elements .choose__line .chooser:hover path {
  fill: pink;
  cursor: pointer;
}
.main__container .main__elements .choose__line .choose__text:hover {
  color: pink;
  cursor: pointer;
}
.main__container .main__elements .button__container {
  padding-top: 48px;
}
.main__container .main__elements .add__to__cart {
  width: 21.2rem;
  height: 48px;
  display: flex;
  justify-content: center;
  gap: 2.3rem;
  align-items: center;
  background-color: #fff;
  border-color: #F16D7F;
  cursor: pointer;
}

.product-sec {
  padding: 0 14.4%;
}
.product-sec .product-dsc {
  margin-bottom: 60px;
}
.product-sec .product-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-sec .product-box .product {
  width: 36rem;
  position: relative;
  margin-bottom: 35px;
}
.product-sec .product-box .product:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.product-sec .product-box .product:hover .product-img {
  filter: brightness(30%);
}
.product-sec .product-box .product:hover .add-box {
  display: flex;
}
.product-sec .product-box .product-link {
  width: 36rem;
  display: block;
}
.product-sec .product-box .product-link .product-img {
  width: 100%;
}
.product-sec .product-box .product-link .product-txt-box {
  padding: 20px;
}
.product-sec .product-box .product-link .product-txt-box .product-txt {
  margin-bottom: 17px;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}
.product-sec .product-box .product-link .product-txt-box .product-txt-small {
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  padding-bottom: 18px;
}
.product-sec .product-box .product-link .product-txt-box .product-price {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 600;
}
.product-sec .product-box .product .add-box {
  display: none;
  position: absolute;
  top: 198px;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}
.product-sec .product-box .product .add-box .add {
  display: flex;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  border: 1px solid #ffffff;
  align-items: center;
  pointer-events: all;
}
.product-sec .product-box .product .add-box .add:hover {
  box-shadow: 0 0 10px #fff;
}
.product-sec .product-box .product .add-box .add-img {
  margin-right: 8px;
}

.low-part .feedback {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 448px;
  position: relative;
  background: rgba(244, 244, 244, 0.7);
}
.low-part .feedback .figure {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.low-part .feedback .figure .womanfigure {
  -webkit-clip-path: circle(35% at center);
          clip-path: circle(35% at center);
  width: 14.5rem;
  padding-top: 15px;
}
.low-part .feedback .figure .figcaption {
  width: 36rem;
  color: #222;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.low-part .feedback::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(img/Layer\ 41.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.low-part .feedtitle {
  color: #222;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  /* 40.128px */
}
.low-part .feedsubtitle {
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.low-part .feed__submit {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}
.low-part .feed__submit .input__field {
  background-color: #e1e1e1;
  border-radius: 50px;
  height: 46px;
  width: 32.3rem;
  color: #222;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-indent: 2rem;
}
.low-part .feed__submit .sub__button {
  margin-left: -65px;
  width: 10rem;
  height: 49px;
  border-radius: 0px 40px 40px 0px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: rgb(212, 210, 210);
}
.low-part .feed__submit .sub__button:hover {
  color: white;
  background-color: #F16D7F;
  cursor: pointer;
}

.footer {
  background-color: black;
  height: 79px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .rights {
  color: #fbfbfb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .social {
  display: flex;
  gap: 0.73rem;
}
.footer .social .square {
  background-color: #fff;
  width: 31.5px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .social .square:hover {
  background-color: #f16d7f;
}
.footer .social .network {
  height: 16px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: 0%;
    padding-right: 0%;
  }
  .header__content__right {
    height: 68px;
  }
  .header__content__right__header {
    font-size: 44px;
  }
  .header__content__right__subheader {
    font-size: 22px;
  }
  .header__content__right__subheader__special {
    font-size: 22px;
  }
  .cath {
    padding: 63px 5%;
  }
  .pinksubtitle {
    font-size: 25px;
  }
  .feature_text {
    padding-top: 150px;
  }
  .product-box {
    grid-template-columns: repeat(2, 36rem);
  }
  .advantages {
    flex-direction: column;
    min-height: 610px;
  }
  .feedback {
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    min-width: 76.8rem;
    height: 693px;
    padding-bottom: 140px;
  }
  .feedback::before {
    background: url(img/Layer\ 42.png), lightgray -416.458px -261.422px/322.249% 246.875% no-repeat;
  }
}
@media (max-width: 768px) {
  .header__right__group {
    width: 32px;
  }
  .header .upper__personal,
  .header .upper__basket {
    display: none;
  }
  .center {
    padding-left: 0%;
    padding-right: 0%;
  }
  .header__content {
    height: 363px;
    justify-content: center;
    gap: 40px;
  }
  .header__content__left {
    display: none;
  }
  .header__content__right {
    height: 61px;
  }
  .header__content__right__header {
    font-size: 38px;
  }
  .header__content__right__subheader {
    font-size: 20px;
  }
  .header__content__right__subheader__special {
    font-size: 20px;
  }
  .cath {
    flex-direction: column;
    align-items: center;
  }
  .cath .cath__imgs {
    max-width: 343px;
  }
  .pinksubtitle {
    font-size: 24px;
  }
  .whitetitle {
    font-size: 16px;
  }
  .feature_text {
    padding-top: 64px;
    padding-bottom: 65px;
  }
  .product-box {
    grid-template-columns: repeat(1, 36rem);
  }
  .advantages {
    flex-direction: column;
    min-height: 610px;
  }
  .feedback {
    flex-direction: column;
    justify-content: space-around;
    min-width: 37rem;
    height: 610px;
  }
  .feedback::before {
    background: url(img/Layer\ 42.png), rgba(244, 244, 244, 0.7) no-repeat;
  }
  .footer {
    height: 143px;
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }
  .social {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */